/* CSS HEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-backround: #99b898;
  --body-background: #fecea8ff;
  --titles: #ff847cff;
  --box-shadow-cards: #e84a5f;
  --background-footer: #2a363bff;
}
/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-right: linear-gradient(90deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-bottom: linear-gradient(180deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-left: linear-gradient(270deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-top-right: linear-gradient(45deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-bottom-right: linear-gradient(135deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-top-left: linear-gradient(225deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-bottom-left: linear-gradient(315deg, #99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
$gradient-radial: radial-gradient(#99b898ff, #fecea8ff, #ff847cff, #e84a5fff, #2a363bff);
 */

.home2 {
  height: 100vh;
  background-color: var(--body-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home2 h2 {
  display: flex;
  color: var(--background-footer);
  justify-content: center;
  padding: 2rem 0rem;
}
.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*  .cardCarrousel{
  display: flex;
  flex-direction: column; 
 }*/
.carrouselImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0rem 1rem 0rem 0rem;
}
.cardCarrousel {
  height: 100%;
  width: 100%;
  background-color: white;
  color: var(--background-footer);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 0rem 1rem 0rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 2px;
  flex-grow: 1;
}
.cardCarrousel:hover {
  padding: 0;
  box-shadow: 4px 4px 8px 4px var(--box-shadow-cards);
  background-color: var(--background-footer);
  color: var(--body-background);
  border: black;
}
.imgLogoContainer {
  width: 80px !important;
}
.imgLogo {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5rem;
  opacity: 20%;
}
.divP {
  display: flex;
  justify-content: center;
  border-radius: 0rem 0rem 0rem 1rem;
}
.hide {
  display: none;
}
.divFooter {
  width: 100%;
  background-color: var(--background-footer);
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}
.divFooterChild {
  color: var(--header-backround);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}
.divFooterChild span {
  padding: 0.5rem;
  text-decoration: underline;
}
.divFooterChild p {
  padding: 0.5rem;
  color: var(--body-background);
}
.divFooterChild a {
  color: var(--body-background);
  padding: 0.25rem;
  text-decoration: none;
}

.scrollToTopDivContainer {
  /*  border:1px solid black; */
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.scrollToTopDivContainer span {
  color: var(--header-backround);
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
}
.scrollToTopDivContainer button {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--box-shadow-cards);
}
.header {
  background-color: #99b898;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
}

.logo {
  width: 10rem;
  height: 10rem;
  object-fit: scale-down;
}
.Home1 {
  width: 100%;
  height: 100vh;
  background-color: #fecea8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.imgHome1 {
  width: 25rem;
  height: 20rem;
  border-radius: 0rem 1rem 0rem 0rem;
}
.sectionHome1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  text-align: center;
}
.sectionCard {
  padding: 0.3rem;
  background-color: #ffff;
  border-radius: 0rem 1rem 0rem 1rem;
}
.sectionCard:hover {
  padding: 0;
  box-shadow: 4px 4px 8px 4px var(--box-shadow-cards);
  background-color: var(--background-footer);
  color: var(--body-background);
  border: black;
}
.navBar-expanded {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 2rem;
}
.navBar-collapse {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 2rem;
}
.home1Logo {
  height: 25rem;
}
.home1Logo img {
  height: 90%;
  width: 100%;
}
.home1Logo p {
  color: #e84a5fff;
  font-size: 1.5rem;
}
.navBar-expanded a {
  background-color: #ff847cff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2a363bff;
  font-weight: 700;
  text-align: center;
}
.navBar-collapse a {
  background-color: #ff847cff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2a363bff;
  font-weight: 700;
  text-align: center;
}

.menuNav {
  border: none;
  border-radius: 0.5rem;
  background-color: #99b898;
  height: 5rem;
  display: none;
}

.divNotFound {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background);
  flex-direction: column;
  gap: 1rem;
}
.divSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65vh;
  flex-grow: 1, 2;
  padding: 5rem;
  background-color: var(--body-background);
}
.divSignIn h1 {
  flex-grow: 1;
}
.formSignIn {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  flex-grow: 2;
  background-color: #99b898;
}
.formSignIn button {
  width: 30%;
  height: 15%;
  color: var(--background-footer);
  border: 2px solid var(--background-footer);
  border-radius: 0.5rem;
  background-color: #e84a5f;
}
.inputSignIn {
  margin: 1rem;
}
.imgNotFound {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.user-collapse {
  background-color: #ff847cff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2a363bff;
  font-weight: 700;
  text-align: center;
  display: none;
}
.user-collapse a {
  background-color: #ff847cff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2a363bff;
  font-weight: 700;
  text-align: center;
}
.user-expanded a {
  background-color: #ff847cff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #2a363bff;
  font-weight: 700;
  text-align: center;
}
.user-expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.user {
  height: 5rem;
}
.formRegister {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #99b898;
  padding: 1rem;
  border-radius: 5px;
  height: 40%;
  width: 50%;
}
.formRegister label {
  display: flex;
  justify-content: space-evenly;
}
.formRegister input {
  border-radius: 5px;
}
.googleLogo {
  height: 100%;
}
.btn-google-register {
  height: 10%;
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.citiesPage {
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-background);
}
.cityImage {
  border-radius: 2rem 2rem 0rem 0rem;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.cardCity{
  display:flex;
  height: 100%;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--box-shadow-cards);
  border-radius: 2rem 2rem 2rem 2rem;
}
.cardsCities {
  border-radius: 3rem;
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  
}
.cardsCities h4{
  background-color: var(--box-shadow-cards);
  display: flex;
  width: 100%;
  justify-content: center;
}
.cardsCities button{
  margin: .5rem;
  padding: .5rem;
  border-radius: .8rem;
  background-color: var(--header-backround);
}
.filtersCity {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 2rem;
  padding: 1rem;
  height: 5rem;
}
.filtersCity form{
  height: 100%;
  
}
.CheckBoxCity{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.checkInput{
  height: 25px;
  width: 25px;
}
#searchCity {
  height: 2rem;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
}
.CheckBoxCity{
  height: 100%;

}
@media screen and (max-width: 810px) {
  .Home1 {
    height: auto;
  }
  .home1Logo {
    height: 20rem;
  }
  .sectionHome1 {
    flex-direction: column;
    gap: 2rem;
  }
  .header {
    height: fit-content;
  }
}
@media screen and (max-width: 480px) {
  .header {
    gap: 1rem;
  }
}
@media screen and (max-width: 410px) {
  .sectionHome1 {
    width: 75%;
  }
  .sectionCard {
    width: 100%;
  }
  .imgHome1 {
    width: 100%;
  }
  .menuNav {
    display: block;
  }
  .header {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
  }
  .navBar-expanded {
    flex-direction: column;
  }
  .navBar-collapse {
    display: none;
  }
}
@media screen and (max-width: 255px) {
  .header {
    flex-direction: column;
  }
}
